.root{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin: 200px auto;
}
.text{
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;

}
.root .title{
margin-bottom: 50px;
}
.root .text{
    max-width: 479px;
    margin: 0 auto;
}
.conteiner{

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}