.root {
    padding: 130px 0;
    background-image: url(./img/pattern-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(33, 0, 93, 0.42);
}

.carouselInner {
    margin: 0 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carouselInner::-webkit-scrollbar {
    display: none;
}


.list {
    display: flex;
    width: fit-content;
    transition: all 0.5s ease;
}

.item {
    width: 335px;
    height: 200px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    background-color:#FFFBFE;
    border-radius: 16px;
}

.reviewButton {
    display: block;
   margin-left: 84%;
    background-color: rgb(255, 255, 255);   
    border: none;
  }
    
  .right{
    transform: rotate(180deg);
  }
  .carouselConteiner {
       position: relative;
        margin: 0 auto;
        max-width: 1200px;
    
    }
    
    .buttonCarousel {
        display: none;
    }
    
    .buttonLeft {
        left: 30px;
    }
    
    .buttonRight {
        right: 35px;
    
    }
        @media screen and (min-width:1200px) {
            .carouselInner {
                max-width: 1100px;
            }
    
            .buttonCarousel {
                display: block;
                position: absolute;
                top: 35%;
                padding: 14px;
                font-weight: 700;
                border-radius: 100px;
                    width: 5.2rem;
                    height: 5rem;
                    background: #ffffff;
                    border-radius: 1px solid rgb(34, 34, 34);
                    border: none;
            }
    
    
        }
                @media screen and (max-width: 767px) {
                    .reviewButton {
                        margin-left: 1rem;
                    }
                }