.list {
    display: flex;
    flex-wrap: nowrap;
    text-transform: capitalize;
    font-size: 1.6rem;
}

.active {
    border-bottom: 1px solid #4c3d6f;
    cursor: default;
    padding-bottom: 4px;
}

.navLink{
    position: relative;
}
.navLink::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width:100%;
    height: 1px;
    z-index: -1;
    background-color: #4c3d6f;
    transform: scaleX(0);
    transition: transform .4s ease;
}

.navLink:hover::before {
    transform: scaleX(1);
}

.nav button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.nav button:active,
.nav button:hover {
    box-shadow: none;
    background-color: transparent;

}
.list.dark a{
    color: white;
}
.toggleButton {
    position: absolute;
    top: 28px;
    left: 62px;
    display: block;
    z-index: 100;
    width: 30px;
    height: 30px;
    padding: 25px;

}

@media screen and (min-width: 768px) {
    .toggleButton {
        display: none;
    }

    .list li {
        margin-right: 24px;
    }

}

@media screen and (max-width: 767px) {
    .navClosed .list {
        display: none;
    }

    .navOpen {
        justify-self: start;
    }

    .navOpen .list {
        display: block;
        position: absolute;
        height: 100vh;
        background: #4c3d6f;
        top: 61px;
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
        animation: smoothScroll 0.5s forwards;
    }
.navOpen .list a{
    color: white;
    font-size: 1.8rem;
}

    .navOpen .list.dark {
        background-color: #1C1B1F;
    }

    @keyframes smoothScroll {
        0% {
            transform: translateY(-85px);
            opacity: 0;
        }

        50% {

            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .navOpen .list li {
        margin: 80px 0;
    }

}


.navClosed .toggleButton::before {
    content: "";
    position: absolute;
    top: 2px;
    right: -2px;
    width: 32px;
    height: 2px;
    background-color: #4c3d6f;
    border-radius: 30px;
    box-shadow: 0 8px 0 #4c3d6f, 0 16px 0 #4c3d6f;
}

.navClosed .toggleButton:active::before {
    background-color: rgb(228, 228, 235);
    box-shadow: 0 8px 0 rgb(228, 228, 235), 0 16px 0 rgb(228, 228, 235);
}

.navOpen .toggleButton::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 30px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #4c3d6f;
    border-radius: 30px;
}

.navOpen .toggleButton::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -2px;
    width: 30px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #4c3d6f;
    border-radius: 30px;
}