.root {
    position: relative;
    top: -6px;
}

.carouselInner {
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.carouselInner::-webkit-scrollbar {
    display: none;
}

.list {
    min-width: 0;
    transition: all 0.6s cubic-bezier(0, .19, .71, .98);
}
.title {
    font-size: 2.5rem;
    margin: 0;
    padding: 25px 0;
    color: var(--Tacao);
    background-color: ghostwhite;
}
.buttonConteiner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 60px 10px;
}

.buttonCarousel {
    position: absolute;
    top: 45%;
    font-size: 3rem;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 14px 24px;
     transition: .6s ease;
}

.buttonCarousel:hover {
    box-shadow: none;
    background-color: transparent;
    color: var(--MexicanRed);
    border: none;
    transform: scale(1.8);
}

.buttonRight {
    right: 0;
}
.buttonLeft {
    left: 0;
}
@media screen and (max-width:800px) {
.buttonCarousel{
    display: none;
}
}
@media screen and (min-width:800px) {
    .carouselInner {
        max-width: 740px;
    }
}
@media screen and (min-width:1200px) {
    .carouselInner {
        max-width: 1111px;
    }
}