.root {
    position: relative;
    top: -6px;
}

.carouselInner {
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.carouselInner::-webkit-scrollbar {
    display: none;
}

.list {
    min-width: 0;
    transition: all 0.6s cubic-bezier(0, .19, .71, .98);
}
.title {
    font-size: 2rem;
    margin: 0;
    padding: 25px 0;
    background-color: #4F378B;
    color: #EADDFF;
}
.buttonConteiner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 60px 10px;
}
.left{
    transform: rotate(180deg);
}
.buttonCarousel {
    text-align: center;
    position: absolute;
    top: 45%;
    padding: 14px;
    font-size: 2rem;
    font-weight: 700;
        border-radius: 8px;
        width: 5.2rem;
        background: #FFD8E4;
        box-shadow: 0px 1px 1px 0px rgba(169, 166, 168, 0.72);
        border: none;
     transition: .6s ease;
}

.buttonCarousel:hover {
    box-shadow: none;
    background-color: transparent;
    color: var(--MexicanRed);
    border: none;
    transform: scale(1.8);
}

.buttonRight {
    right: 0;
    color: var(--WaikawaGray);
}
.buttonLeft {
    left: 0;
    color: var(--WaikawaGray);
}
@media screen and (max-width:800px) {
.buttonCarousel{
    display: none;
}
}
@media screen and (min-width:800px) {
    .carouselInner {
        max-width: 740px;
    }
}
@media screen and (min-width:1200px) {
    .carouselInner {
        max-width: 1111px;
    }
}
@media screen and (max-width: 767px) {
    .title {
        font-size: 1.8rem;
    }
}