.root {
    height: 100%;
    text-align: center;
    background: url(./img/wordMap.webp) center no-repeat;
    background-size: contain;
    margin: 70px auto 0 auto;
}
.containerStyle {
    width: 100%;
    height: 100%;
}
.map {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 50px auto;
    text-align: left;
    justify-content: space-evenly;
}
.img{
    width: 100%;
    border-radius: 2px;
}
.imgWrapper{
max-width: 300px;
}
caption{
    margin: 0 2px 0 2px;
    background-color: rgba(195, 180, 180, 0.629);
}
.tableWrapper{
    display: flex;
    flex-direction: column;
}
.tableWrapper p{
    margin: 0;
    margin: 0 2px 0 2px;
   padding: 20px 2px;
   font-size: 1.8rem;
    background-color: rgba(195, 180, 180, 0.629);
}
.table{
    flex-basis: 70%;
}
.table td{
    padding-left: 5px;
}
.table tr:last-child {
    background-color: rgba(237, 124, 124, 0.629);
}
.table tr:not(:last-child)  {
    background-color: rgba(195, 180, 180, 0.629);
}
.table tr td:first-child {
    color: red;
}
@media screen and (max-width: 767px) {
    
.imgWrapper {
    margin-top: 30px;
        max-width: 420px;
    }

}