.form {
    padding: 15px;
}

.root {
    border: none;
    padding: 10px;
}

.form input {
    margin-bottom: 10px;
    padding: 5px;
    display: block;
    width: 100%;
    height: 30px;
    color: var(--Cedar);
    border-bottom: 1px solid var(--Cedar);
    border-color: var(--Cedar);
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.inputWrapper>div {
    margin-right: 10px;
}

.textarea::-webkit-scrollbar {
    display: none;
}

.textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--Cedar);
    box-shadow: none;
    background-color: transparent;
    overflow: scroll;
    outline: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.buttonSand {
    border: 1px solid var(--Cedar);
    box-shadow: none;
}

.button {
    width: 100%;
        background-color: var(--Linen);
            color: var(--Cedar);
}

@media screen and (max-width:767px) {
    .inputWrapper{
        flex-direction: column;
    }
}