.root {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 80px;
    background: #7C4231;
    z-index: 100;
    padding: 0 10rem;
}

.root a {
    color: ghostwhite
}

.sticky {
    animation: smoothScroll 1s forwards ease;
    background-color: var(--IndianRed);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.20);
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-75px);
    }

    100% {
        transform: translateY(0px);
    }
}

.dark {
    background: var(--BlueWhale);
}

@media screen and (max-width: 767px) {
    .root{
    padding: 0;
    }
    .flex {
        flex-direction: column;
    }
}