.root {
    padding: 5rem 10rem 9rem 10rem;
    background-color: #4B3D6F;
    color: #FFFFFF;

}
.conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}
.conteiner *{
 margin: 2rem auto 0 auto;
}
.itemsConteiner{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.contacts {
    padding: 25px 60px;
    font-family: monospace;
    font-size: 1.6rem;
    border-radius: 6px;
    background: url(./img/contacts_bg.jpg) center no-repeat;
    background-size: cover;
    order: -1;
}

.contacts p:first-child {
    font-family: 'Noto Sans';
    color: var(--Cedar);
}

.contacts span {
    font-family: 'Rochester';
    color: var(--Cranberry);
}
.contactForm button{
    background-color: ghostwhite;
    color: inherit;
}

.dark {
    background-color: #1C1B1F;
}

.form {
    display: flex;
    border-bottom: 2px solid ghostwhite;
    margin: 0 30px 0 40px;
}

.input {
    display: block;
    width: 200px;
    height: 30px;
}

.input::placeholder {
    color: ghostwhite;
}
.inputSubscribe{
    max-width: 360px;
}
 .inputSubscribe p {
     margin: 40px auto;
 }
.buttonSubscribe {
    width: 130px;
    height: 30px;
    border: none;
    padding: 2px 0;
    font-size: 1.6rem;
    text-transform: lowercase;
    text-align: right;
    background-color: transparent;
    box-shadow: none;
    color: ghostwhite;
}

.buttonSubscribe:active, .buttonSubscribe:hover {
    box-shadow: none;
    background-color: transparent;
    color: var(--MexicanRed);
}

.copyright >div{
    margin: 0;
}

.iconsConteiner{
    margin: 0 40px 0 30px;
}
  .socialIcons{
    margin-bottom: 20px;

  }

@media screen and (max-width: 1200px) {
    .itemsConteiner {
        flex: 1;
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .itemsConteiner:last-child {
        margin: 40px 0;
        flex-direction: column;
        align-items: center;
    }
   .linkLogo {
        display: none;
    }

    .iconsConteiner {
        margin-bottom: 50px;
    }
}