.root{
    position: relative;
}
.navItem {
    justify-self: start;
    
}
.button {
    color: var(--Linen);
    border: none;
}
.link{
    justify-self: end;
    position: relative;
}
.count{
    display: block;
    position: absolute;
    text-align: center;
    left: 10px;
    top: -3px;
    z-index: 100;
    width: 25px;
    height: auto;
    border-radius: 50%;
    background-color: #ffd8e4;
    color: #da6570;
    font-weight: 700;
}
@media screen and (max-width: 767px) {

    .link {
margin-right: 60px;
        }
}