.root{
   padding-bottom: 90px;
}
.root .list {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    max-height: 523px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.button:hover ~ .list{
    
    will-change: all;
}
.button{
    padding: 14px;
    font-weight: 700;
    border-radius: 8px;
        width: 5.2rem;
        height: 5rem;
        background: #FFD8E4;
        box-shadow: 0px 1px 1px 0px rgba(169, 166, 168, 0.72);
        border: none;
}
.button:active{
    transform: rotate(180deg);
}
.list.fullSizeStyle {
    max-height: 1090px;
}

.fullSizeStyleButton{
    transform: rotate(180deg);
}

.title {
    font-size: 2rem;
    margin-top: 0;
    padding: 25px 0;
    background-color: #4F378B;
    color: #EADDFF;
}


@media screen and (max-width: 767px) {
    .title {
        font-size: 1.8rem;
    }
}