.root{
   padding-bottom: 30px;
}
.button{
    padding: 10px 17px;
    font-weight: 700;
}
.hiddenStyle {
    max-height: 554px;
    overflow: hidden;

}

.hiddenStyleButton{
    transform: rotate(180deg);
}

.title {
    font-size: 3rem;
    margin-top: 0;
    padding: 15px 0;
    color: var(--Cranberry);
    background-color: ghostwhite;
}

.list {
    justify-content: center;
    flex-wrap: wrap;
    transition: all 1s ease;
    margin-top: 60px;
    }
