    .root{
    display: flex;
    }
    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 1px solid var(--MexicanRed);
        background-color: var(--Linen);
        border-radius: 9px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
    
    }
    .icon:not(:last-child){
        margin-right: 20px;
    }
  
   .icon:hover{
    fill: var(--Cedar);
   }